@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-color: #00bafc;
    height: 100vh;
    text-align: center;
    padding: 10px;
    font-family: "Roboto";
}

.user-input {
    border: 0;
    border-radius: 4px;
    text-align: center;
    font-size: 20px;
}

.img-style {
    margin-top: 40px;
    width: 140px;
}

.timing {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 60px;
    margin-top: 30px;
}